/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
    --bg-color:             #DEEBF3;
    --font-color:           #0A1522;
    --secondary-font-color: #62666a;
    --highlight-color:      #00B3CC;
    --hover-color:          #50c6d6;
    --main-font:            'Roboto', sans-serif;
    --font-pair:            'Raleway', sans-serif; 
  }
  
  
  
  
  
  /*------------------------------------*\
  #BOX-SIZING
  \*------------------------------------*/
  
  * {  box-sizing: border-box;  }
  
  
  
  
  
  /*------------------------------------*\
  #FONTS
  \*------------------------------------*/
  
  body {
    font-family: var(--main-font);
    color: var(--font-color);
    text-align: center;
  }




    
  /*------------------------------------*\
  #BODY
  \*------------------------------------*/

  body {
    margin: 0 auto;
    width: 100vw;
    background-color: var(--bg-color);
  }


h2 {
    font-family: var(--font-pair);
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 4rem;
}

h4 {
    font-size: 1.2rem;
    padding-bottom: 4rem;
    color: var(--secondary-font-color)
}

.link {
    padding-top: 3rem;
}

.megrendelolap__link {
    text-decoration: none;
    font-family: var(--font-pair);
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--highlight-color);
    padding: 1rem;
    border-radius: 9999px;
}


.megrendelolap__link:hover {
    background-color: var(--hover-color) 
}

.information__text {
    font-size: 1rem;
    color: var(--highlight-color);
    padding-top: 4rem;
}

html, body {
    height: 100%;
  }
 body {
    display: flex;
    flex-direction: column;
  }

.content {
    flex: 1 0 auto;
  }

.footer {
    flex-shrink: 0;
  }

.contact {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: space-evenly;
}

.contact__photo, .contact__gift {
    width: 40%;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;;
}

.contact__logo--va {
    display: block;
    width: 120px;
    margin: 0 auto;
    padding-top:1rem;
}

.contact__logo--rg {
    width: 140px;
    padding-top: 1rem;
    display: block;
    margin: 0 auto;
}

.gift__icon {
    width: 50px;
}

.photo__icon {
    width: 50px;
}

.fb__icon {
    width: 20px;
}

.gift__link {
    text-decoration: none;
    color: var(--hover-color);
}



.fb__link--va, .fb__link--rg {
    text-decoration: none;
    color: var(--font-color);
}

.designed__logo {
    width: 100px;
}

.footer__designed {
    font-size: 10px;
}